.textRoll {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.textRollInner {
  display: block;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .textRoll:hover & {
    transform: translateY(-100%);
  }
}
